body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header-nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.header-nav a:hover {
    color: #666;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
}

.gallery-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gallery-sidebar {
    width: 20%;
    padding-right: 20px;
}

.gallery-sidebar h2 {
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 80%;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    text-align: center;
}

.gallery-item.wide {
    flex: 2 1 calc(66.666% - 10px); /* 가로로 긴 사진은 2칸 차지 */
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 2px; /* 모서리 둥글기 조정 */
    object-fit: cover;
    transition: transform 0.2s ease; /* 호버 효과 조정 */
}

.gallery-item img:hover {
    transform: scale(1.01); /* 호버 시 커지는 정도 감소 */
}

.gallery-footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    font-size: 12px;
    color: rgb(150, 146, 146);
    background-color: #f9f9f9;
}

.gallery-footer a {
    color: rgb(89, 87, 87);
    text-decoration: none;
}

.gallery-footer a:hover {
    color: #333;
}

/* 모바일 버전 */
@media (max-width: 768px) {
    .gallery-container {
        flex-direction: column;
        align-items: center;
    }
    
    .gallery-sidebar {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }

    .gallery-grid {
        width: 100%;
        gap: 5px;
        justify-content: center;
    }

    .gallery-item {
        flex: 1 1 calc(50% - 5px); /* 한 행에 두 개씩 배치 */
    }

    .gallery-item.wide {
        flex: 1 1 calc(100% - 5px); /* 가로로 긴 사진은 한 줄 전체 차지 */
    }
}
